<%
	var survey = verticalConfig.survey || {}
%>
<script id="surveyTemplate" type="text/html">
	<div class="page-width">
		<div class="container">
			<h2>Survey</h2>
			<div class="form-wrapper">
			<form class="fg-form survey-form" method="post">
                <iframe src="https://www.w3schools.com"></iframe>			
            </form>
			</div>
		</div>
	</div>
</script>
<script src="<%=contextPath%>/js/rating.js"></script>
