<%
	var register = verticalConfig.register || {};
%>
<script id="registerTemplate" type="text/html">
<div class="page-width">
	<h2>Register an Account in GBank</h2>
	<%-markdown(register.text)%>
</div>
</script>
